:root{
  --branding-color: #000; 
  --heading-font-family:"Playfair Display", serif; 
  --default-font-family:"Poppins", sans-serif;
  --secondary-color: #f9f7fe; 
}
body{
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4{
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1{
  font-size: 64px;
}
 p{
  font-size: 16px;
  line-height: 30px;
 }
 .navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}
.navbar-nav {
  display: flex;
  gap: 20px; 
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  text-align: center;
  flex-wrap: wrap; 
}
.hero-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
.hero-text {
  max-width: 600px;
  text-align: center;
}
 .button-container {
  text-align: center; 
  margin-top: 20px; 
}
 .btn-branding{
  background: var(--branding-color);
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
 }
 .btn-small-branding {
  background: var(--branding-color);
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;
}
.container {
  display: flex;
  gap: 20px; 
}
.content-border {
  border: 1px solid var(--branding-color);
  padding: 1rem;
  width: 350px;
  border-radius: 6px; 
  margin:10px;
}
.content-border img {
  width: 80%; 
  max-width: 300px;
  display: block;
  margin: 0 auto; 
}
.avatar-img {
  width: 150px; 
  height: auto;
  border-radius: 50%;
}
.about-content {
  flex: 1;
}
.project-description{
  padding: 120px 60px;
}
.logo{
  max-width: 150px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.skills-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 45%;
  text-align: center;
}
footer{
  margin: 60px 0;
}
footer .contact-box{
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p{
  margin: 0;
}
footer .email-link{
text-decoration: none;
color: #000;
font-size: 24px;
text-align: center;
}
footer .email-link:hover{
  color: var(--branding-color);
}
footer .social-links a{
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}
footer .social-links a:hover{
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a {
  color:var(--branding-color);
}
@media(max-width: 768px){
  h1{
    font-size: 30px;
    line-height: 56px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }

 .logo {
    width: 100px;
    margin-bottom: 1rem;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-img {
    max-width: 100px;
  }
  .hero-text {
    margin-top: 10px;
    }
     .about-content {
    margin-left: 20px;
    align-content: left;
  }
  .content-border {
    border-radius: 4px;
    padding: 0.5rem; 
    max-width: 250px; 
  }
  .btn-small-branding {
    font-size: 0.8rem; 
    padding: 0.3rem 0.6rem; 
  }
  .container p {
    font-size: 0.8rem; 
    line-height: 1.5;
  }
   .skills-list h6 {
    font-size: 0.9rem;
  }
  .skills-list p {
    font-size: 0.75rem; 
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-12 {
    margin-bottom: 1rem; 
  }
  



}
 


